.advantages {

    &__inner {
        background-color: #fef7f0;
        display: flex;
    }

    &__item {
        width: 33%;
        padding: 55px 20px 45px 15%;
        background-repeat: no-repeat;
        background-position: 30% 65px;

        &-support {
            background-image: url('../images/icons/advantage-1.svg');

            .advantages__sub-title {
                max-width: 205px;
            }
        }

        &-delivery {
            background-image: url('../images/icons/advantage-2.svg');
        }

        &-secure {
            background-image: url('../images/icons/advantage-3.svg');

            .advantages__sub-title {
                max-width: 205px;
            }
        }
    }

    &__item+&__item {
        border-left: 1px solid #e8e4df;
    }

    &__title {
        font-size: 18p;
        line-height: 40px;
        color: #414141;
    }

    &__sub-title {
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #585858;
    }
}

@media (max-width: 950px) {
    .advantages__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages__item {
        width: 50%;
        padding: 30px 20px 30px 16%;
        background-position: 10% 65px;
    }

    .advantages__inner .advantages__item-secure {
        border-left: none;
    }
}

@media (max-width: 515px) {
    .advantages__item {
        width: 100%;
        border-left: none;
        background-position: 10px 65px;
        padding: 20px 0 20px 22%;
    }
}