%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%rubik-300 {
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%input-hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}