@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import '../module/_header/_header';
@import '../module/_footer/_footer';
@import '../module/_blog-filter/_blog-filter';
@import '../module/_narrow-partners/_narrow-partners';

.blog {
    padding-top: 120px;

    &__inner {
        display: flex;
    }

    &__content {
        flex: 0 1 830px;
    }

    &__pagination {
        display: block;
        padding: 0;
    }
}

.content-item {
    @extend %rubik-400;
    margin-bottom: 50px;

    &__box {
        position: relative;
    }

    &__caption {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 12px;
        padding: 28px 30px;

        & span:first-child {
            padding-left: 10px;
            position: relative;

            &::before {
                content: url(../images/icons/calendar.svg);
                position: absolute;
                top: -4px;
                left: -10px;
            }
        }

        & span:last-child {
            position: relative;
            padding-left: 40px;

            &::before {
                content: url(../images/icons/joystick.svg);
                position: absolute;
                top: -4px;
                left: 20px;
            }
        }
    }

    &__title {
        font-size: 36px;
        line-height: 26px;
        font-weight: 400;
        padding: 35px 0;
    }

    &__link-btn {
        padding: 14px 20px;
        margin-top: 35px;
        display: inline-block;
        border: 1px solid #a3bbc8;
        color: #a3bbc8;
        position: relative;
        top: 0;
        transition: all .3s;

        &:hover {
            top: -2px;
            box-shadow: 2px 2px 5px gray;
            color: #4b8cae;
        }

        &:active {
            top: 2px;
            box-shadow: 1px 1px 3px gray;
        }

        span:last-child {
            padding-left: 40px;
        }
    }
}

.blog__aside {
    padding-left: 60px;
    max-width: 340px;
}

.filter-search {
    margin-bottom: 45px;
    @extend %rubik-400;

    &__form {
        position: relative;
    }

    &__input {
        border: 1px solid #edf1f4;
        padding: 0 15px;
        width: calc(100% - 42px);
        height: 42px;
    }

    &__icon {
        width: 42px;
        height: 42px;
        background-color: #edf1f4;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.recent-post {
    @extend %rubik-400;
    margin-bottom: 45px;

    &__img {
        max-width: 70px;
        height: 70px;
        object-fit: cover;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
    }

    &__desc {
        padding-left: 18px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
    }

    &__date {
        font-size: 12px;
        line-height: 30px;
        color: #a7a7a7;
    }
}

// ================== FILTER CATEGORY  =====================


.filter {
    &__item {
        padding-bottom: 60px;
    }

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 25px;

        &:after {
            content: '';
            display: inline-block;
            width: 38px;
            height: 2px;
            background-color: #a3bbc8;
            margin-left: 17px;
            vertical-align: super;
        }
    }

    &__label {
        @extend %rubik-400;
        line-height: 43px;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            color: #056599;
        }
    }

    &__checkbox {
        display: flex;
        justify-content: space-between;
        padding: 0 22px 0 15px;
        border-radius: 6px;
    }

    &__input {
        @extend %input-hidden;

        &:checked+.filter__checkbox {
            background-color: #edf1f4;
        }
    }
}


// =================  PAGINATION  ================

.pagination {
    flex: 0 0 100%;
    max-height: 270px;
    padding: 90px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
    }

    &__link {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 7px;
        border: 1px solid #a3bbc8;
        line-height: 50px;
        text-align: center;
        @extend %rubik-400;
        transition: all .2s;

        &:hover {
            border: 2px solid #a3bbc8;
        }

        &--active {
            background-color: #a3bbc8;
            color: #fff;
        }
    }
}

@media (max-width: 950px) {
    .pagination {
        padding: 40px 0 50px;
    }
}

@media (max-width: 660px) {
    .content-item__caption {
        padding: 10px 20px;
    }
}