@import 'vars';
@import 'fonts';
@import 'reset';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/rateyo/src/jquery.rateyo';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler';
@import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.theme';
@import 'global';
@import '../module/_header/_header';
@import '../module/_footer/_footer';
@import '../module/_products/_products';
@import '../module/_articles/_articles';
@import '../module/_partners/_partners';




// =============================  PRODUCT ONE ===============================


.product-one {
    padding: 120px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__gallery {
        display: flex;
        flex: 0 1 47%;
    }

    &__column {
        width: 136px;
    }

    &__img-item {
        border: 2px solid #f2f2f2;
        padding: 0 10px;
        margin-bottom: 6px;
    }

    &__img {
        object-fit: cover;
        height: 160px;
    }

    &__big-picture {
        height: 530px;
        width: 385px;
        border: 2px solid #f2f2f2;
        margin-left: 25px;
    }

    &__big-image {
        height: 410px;
        object-fit: cover;
        margin: 60px auto;
    }

    &__desc {
        flex: 0 1 52%;
        padding-left: 65px;
        @extend %rubik-400;
    }

    &__title {
        font-size: 40px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    &__price {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 12px;
    }

    &__form {
        margin: 30px 0 50px;
        display: flex;
        align-items: center;
    }

    .jq-number {
        padding: 0;
        border: 1px solid #a3bbc8;
        border-radius: 4px;
        position: relative;
    }

    .jq-number__field {
        width: 150px;
        height: 50px;
        font-size: 15px;
        line-height: 45px;

        input {
            text-align: center;
            font-size: 15px;
            line-height: 45px;
            padding: 0;
        }
    }

    .jq-number__spin {
        position: absolute;
        top: 0;
        height: 14px;
        font-size: 26px;
        @extend %rubik-300;
        cursor: pointer;

        &.minus {
            left: 0;
            width: 50px;
            height: 100%;
            background: #fff;
            border-right: 1px solid #a3bbc8;
            border-radius: 0;

            &::after {
                content: "-";
                position: absolute;
                border: none;
                left: 16px;
                top: 10px;
            }
        }

        &.plus {
            right: 0;
            width: 50px;
            height: 100%;
            background: #fff;
            border-left: 1px solid #a3bbc8;
            border-radius: 0;

            &::after {
                content: "+";
                position: absolute;
                border: none;
                left: 16px;
                top: 10px;
            }
        }
    }

    &__btn {
        border-radius: 5px;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
        text-transform: uppercase;
        padding: 12px 50px;
        margin-left: 18px;
        border: none;
        transition: all .3s;

        &:hover {
            background-color: #569fc6;
            transform: translate3d(-1px, -1px, 0px);
            box-shadow: 2px 2px 5px gray;
        }

        &:active {
            transform: translate3d(1px, 1px, 0px);
            box-shadow: 1px 1px 3px gray;
        }
    }

    &__tabs {
        padding-top: 70px;
        @extend %rubik-400;
    }

    &__top {
        display: flex;
        justify-content: center;
    }

    &__tab-item {
        @extend %rubik-500;
        margin: 30px 6px;
        padding: 16px 22px;
        min-width: 240px;
        text-align: center;
        background-color: #edf1f4;
        border-radius: 6px;
        cursor: pointer;

        &--active {
            background-color: #a3bbc8;
        }
    }

    &__content-item {
        display: none;

        &--active {
            display: block;
        }
    }
}



// ================= RELATED PRODUCTS  =======================


.related {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    &__title {
        font-size: 36px;
    }

    &__box {
        background-color: #fdfdfd;
    }
}

.slick-arrow {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 0 10px;
    border: 1px solid #a3bbc8;
    color: #a3bbc8;
    cursor: pointer;
}

.slick-slide {
    margin: 10px 15px;
}