@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// ==================  HEADER  ======================


.header {
    @extend %rubik-500;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 0 45px;
    }
}

.menu {
    &__list {
        display: flex;
        font-size: 15px;
        line-height: 12px;
    }

    &__item+&__item {
        margin-left: 35px;
    }

    &__link {
        text-decoration: none;
        color: #436372;
        transition: all .3s;

        &:hover {
            color: #6e9cb2;
            font-size: 17px;
        }
    }
}

.user-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &__box {
        display: flex;
        gap: 30px;
        align-items: center;
        padding: 9px 40px;
        border-radius: 25px;
        background-color: #fcd7b6;
    }

    &__link {
        position: relative;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__fav-num,
    &__cart-num {
        position: absolute;
        top: -9px;
        right: -10px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        line-height: 16px;
        color: #436372;
        transition: all .3s;
    }

    &__col {
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
    }

    &__search-icon,
    &__menu-btn {
        padding: 16px;
        border-radius: 50%;
        background-color: #edf1f4;
    }

    &__menu-btn {
        background-color: #a3bbc8;
        overflow: visible;
    }

}


// =================  FOOTER   ======================


.footer__inner {
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0 70px;
    border-bottom: 2px solid #dae4e9;

    &__item {
        transition: all .2s;

        &:hover {
            color: #234969;
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__list {
        color: #7b7b7b;
    }

    &__item:first-child {
        max-width: 240px;
    }

    &__item,
    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
        color: #7b7b7b;
    }

    &__text {
        margin-bottom: 30px;
        max-width: 270px;
    }

    &__title {
        color: #1f2044;
        font-size: 16px;
        line-height: 21px;
        margin: 15px 0 20px;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
    }

    &__input {
        height: 41px;
        border: none;
        padding: 0 15px;
        color: #234969;

        &::placeholder {
            color: #234969;
        }
    }

    &__btn {
        color: white;
        background-color: rgba(35, 73, 105, .4);
        border: none;
        outline: transparent;
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        padding: 10px 15px;
        position: relative;
        top: 0;
        transition: all .3s;

        &:hover {
            background-color: #7d9cad;
            top: -2px;
            box-shadow: 2px 2px 5px gray;
        }

        &:active {
            background-color: #64879a;
            top: 2px;
            box-shadow: 1px 1px 3px gray;
        }
    }
}

.footer-bottom {
    padding: 37px 0;
    font-size: 14px;
    color: #7b7b7b;
    line-height: 18px;
    display: flex;
    justify-content: space-between;

    &__list {
        display: flex;
    }

    &__item {
        padding: 0 15px;
        transition: all .2s;

        &:hover {
            color: #234969;
        }
    }

    &__item:not(:last-child) {
        border-right: 1px solid #7b7b7b;
    }
}


// ======================  FORM LOGIN  ======================


.log-in {
    max-width: 470px;
    margin: 0 auto;
    padding: 115px 0 120px;
    display: flex;
    flex-direction: column;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;

    &__form {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 1px solid #f6f6f6;
    }

    &__input {
        width: 100%;
        height: 60px;
        border: 1px solid #f6f6f6;
        padding: 0 10px;
    }

    &__btn {
        width: 100%;
        height: 60px;
        background-color: #a3bbc8;
        border: none;
        @extend %rubik-500;
        font-size: 18px;
        color: #fff;
        margin: 35px 0 30px;
        position: relative;
        top: 0;
        transition: all .3s;

        &:hover {
            background-color: #7d9cad;
            top: -2px;
            box-shadow: 2px 2px 5px gray;
            cursor: pointer;
        }

        &:active {
            background-color: #64879a;
            top: 0px;
            box-shadow: 1px 1px 3px gray;
        }
    }

    &__password {
        display: flex;
        justify-content: space-between;
    }
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    &__account {
        margin-top: 25px;
        padding: 14px 0;
        width: 100%;
        text-align: center;
        border: 1px solid #a3bbc8;
        @extend %rubik-500;
        color: #243f4d;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        top: 0;
        transition: all .3s;

        &:hover {
            background-color: #a3bbc8;
            color: #fff;
            top: -2px;
            box-shadow: 2px 2px 5px gray;
            cursor: pointer;
        }

        &:active {
            background-color: #64879a;
            top: 0px;
            box-shadow: 1px 1px 3px gray;
        }
    }
}

.register__link:hover,
.log-in__link:hover {
    color: #a3bbc8;
}

.login-partners__inner {
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


// ====================  TERMS  ======================


.terms {
    padding-top: 55px;
    @extend %rubik-400;
    line-height: 30px;
    color: #243f4d;

    &__title {
        @extend %rubik-500;
        font-size: 24px;
        line-height: 40px;
        padding: 60px 0 20px;
    }

    &__item {
        padding: 0 0 20px 10px;
    }
}


// ===================  EXPERIENCE  ===================


.experience {
    padding-top: 120px;

    &__inner {
        background-image: url('../images/content/about.jpg');
        background-position: left top;
        background-size: 45%;
        background-repeat: no-repeat;
    }

    &__content {
        padding: 50px 20px 80px 50px;
        margin-left: 45%;
    }

    &__year {
        display: flex;
    }

    &__img {
        max-height: 100px;
    }

    &__rows {
        margin: 18px 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @extend %rubik-400;
    }

    &__title {
        font-size: 36px;
        line-height: 32px;
        padding: 30px 0 40px;
    }

    &__text {
        @extend %rubik-400;
        padding-bottom: 50px;
        border-bottom: 1px solid #e6eaf0;
    }

    &__nums {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 33%;
        background-position: 20px 10px;
        background-size: 40px;
        background-repeat: no-repeat;
        padding-left: 80px;
    }

    &__item+&__item {
        border-left: 1px solid #e6eaf0;
    }

    &__amount {
        font-size: 36px;
        line-height: 38px;
    }

    &__desc {
        color: #4c4c4c;
    }
}


// ===================  STATISTIC  ====================


.statistic {
    min-height: 320px;
    width: 100%;
    background-color: #fcd7b6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        flex: 0 1 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 30px;
    }

    &__img {
        height: 60px;
        padding-bottom: 20px;
    }

    &__num {
        font-size: 36px;
        line-height: 32px;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        line-height: 32px;
    }
}


//====================  TEAM  ========================


.team {
    padding-top: 120px;

    &__inner {
        display: flex;
    }

    &__desc {
        flex: 0 0 400px;
        color: #243f4d;
    }

    &__title {
        text-align: left;
        padding: 6px 0 30px;
    }

    &__text {
        @extend %rubik-400;
        padding-bottom: 30px;
        max-width: 300px;
    }

    &__link {
        display: inline-block;
        padding: 0px 20px;
        background-color: #a3bbc8;
        color: #fff;
        border-radius: 5px;
        font-size: 15px;
        line-height: 55px;
        position: relative;
        top: 0;
        transition: all .3s;

        span+span {
            padding-left: 16px;
        }

        &:hover {
            background-color: #7d9cad;
            top: -2px;
            box-shadow: 2px 2px 5px gray;
            cursor: pointer;
        }

        &:active {
            background-color: #64879a;
            top: 0px;
            box-shadow: 1px 1px 3px gray;
        }
    }

    &__albom {
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
    }
}

.team-item {
    flex: 0 1 47%;

    &__photo {
        object-fit: cover;
    }

    &__title {
        font-size: 22px;
        line-height: 26px;
        color: #436372;
        padding: 26px 0 16px;
    }

    &__text {
        color: #565872;
        padding-right: 50px;
    }

    &__desc {
        width: 325px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        position: relative;
        top: -50px;

    }

    &__name {
        width: 225px;
        padding-left: 25px;
    }

    &__link {
        margin-right: 30px;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }



}





// ===================  SLIDER  =======================


.slider {

    &__item {
        @extend %rubik-400;
        background-image: url('../images/slider/slider-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__item-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        min-height: 820px;
    }

    &__img {
        flex: 0 1 600px;
    }

    &__item-content {
        margin-left: 50px;
        flex: 0 1 410px;
    }

    &__title {
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
    }

    &__sub-title {
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        margin: 40px 0;
    }

    &__link {
        color: #fff;
        background-color: #a3bbc8;
        padding: 24px 12px 20px 26px;
        max-width: 200px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        display: flex;
        justify-content: space-between;
        transition: all .5s;

        &:hover {
            background-color: #569fc6;
            transform: translate3d(-1px, -1px, 0px);
            box-shadow: 2px 2px 5px gray;

            .slider__icon {
                animation: bounceright .3s alternate ease infinite;

                @keyframes bounceright {
                    from {
                        transform: translateX(0);
                    }

                    to {
                        transform: translateX(3px);
                    }
                }
            }
        }

        &:active {
            transform: translate3d(1px, 1px, 0px);
            box-shadow: 1px 1px 3px gray;
        }
    }

    &__icon {
        font-size: 25px;
        line-height: 10px;
    }

    .slick-dots {
        display: flex;
        gap: 10px;
        position: absolute;
        left: 50%;
        bottom: 45px;

        li {
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                background-color: #fde3cc;
                color: #243f4d;
                font-size: 10px;
                cursor: pointer;
                transition: all .3s;
                position: relative;
                top: 0;

                &:hover {
                    box-shadow: 2px 2px 5px gray;
                    top: -2px;
                }

                &:active {
                    top: 2px;
                    box-shadow: 1px 1px 3px gray;
                }
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}


// ===================  ADVANTAGES  ==================


.advantages {

    &__inner {
        background-color: #fef7f0;
        display: flex;
    }

    &__item {
        width: 33%;
        padding: 55px 20px 45px 15%;
        background-repeat: no-repeat;
        background-position: 30% 65px;

        &-support {
            background-image: url('../images/icons/advantage-1.svg');

            .advantages__sub-title {
                max-width: 205px;
            }
        }

        &-delivery {
            background-image: url('../images/icons/advantage-2.svg');
        }

        &-secure {
            background-image: url('../images/icons/advantage-3.svg');

            .advantages__sub-title {
                max-width: 205px;
            }
        }
    }

    &__item+&__item {
        border-left: 1px solid #e8e4df;
    }

    &__title {
        font-size: 18p;
        line-height: 40px;
        color: #414141;
    }

    &__sub-title {
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #585858;
    }
}


// =======================  BLOCK PRODUCTS  ========================


.products {

    &__inner {
        padding: 70px 0 40px;
    }

    &__title {
        padding-bottom: 30px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 29px;
        background-color: #fafafa;
        padding: 20px 0;
        margin-top: 50px;
    }
}

.product-item {
    background-color: #fff;
    font-size: 16px;
    line-height: 30px;
    flex-basis: 270px;
    padding: 30px 15px;
    height: 380px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    transition: all .3s;

    &__img {
        height: 40%;
        object-fit: cover;
    }

    &__desc {
        margin-top: 60px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }

    &__title {
        @extend %dmsans-400;
        color: #243f4d;
        font-weight: 600;
    }

    &__price {
        @extend %dmsans-700;
        color: #c8d6de;
    }

    &__link-box {
        position: absolute;
        top: 180px;
        display: flex;
        gap: 15px;
        transform: translateY(500%);
        transition: all .5s;

        span {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color: #fff;
            transition: all .5s;
        }

        span:hover {
            background-color: #a3bbc8;

            path {
                fill: #fff;
            }
        }
    }

    &__link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 5px 5px 15px #d1cfcf;

        .product-item__link-box {
            transform: translateY(0);
        }
    }
}


// ========================  RANDOM_GOODS  =========================


.random-goods {

    &__inner {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 130px;
    }

    &__item {
        background-color: #feefe2;
        flex: 0 1 50%;
        max-height: 390px;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        height: 100%;
        margin-top: -150px;
    }

    &__content {
        padding: 100px 20px;
        max-width: 360px;
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
    }

    &__desc {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #5e6e75;
        padding: 20px 0 30px;
    }

    &__link {
        @extend %rubik-400;
        padding: 22px 18px;
        color: #436372;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        font-size: 15px;
        line-height: 12px;
        position: relative;
        top: 0;
        transition: all .3s;


        span+span {
            padding-left: 40px;
            font-size: 20px;
        }

        &:hover {
            background-color: #fcd7b6;
            top: -2px;
            box-shadow: 2px 2px 5px gray;
        }

        &:active {
            top: 2px;
            box-shadow: 1px 1px 3px gray;
        }
    }
}


// ==========================  DESIGN  ==========================


.design {

    &__inner {
        padding: 100px 0 120px;
        // text-align: center;
    }

    &__title {
        padding-bottom: 20px;
    }

    &__box {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &-item {
        flex: 0 0 370px;
        min-height: 245px;
        text-align: left;
        font-size: 20px;
        padding: 35px;

        &-1 {
            background-image: url(../images/content/design/1.jpg);
        }

        &-2 {
            background-image: url(../images/content/design/2.jpg);
        }

        &-3 {
            background-image: url(../images/content/design/3.jpg);
        }

        &-4 {
            background-image: url(../images/content/design/4.jpg);
        }

        &-5 {
            background-image: url(../images/content/design/5.jpg);
        }

        &-6 {
            background-image: url(../images/content/design/6.jpg);
        }
    }

    .design-item__sub-title {
        padding-bottom: 15px;
    }

    .design-item__style {
        font-size: 16px;
        color: #a9bfcb;
    }
}

// ==========================  VIDEO  ============================

.video {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// ==========================  ARTICLES & PARTNERS   ===============================


.articles {

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 115px 0 50px;
    }

    &__preload {
        color: #262626;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .articles__item {
        flex: 0 1 370px;
        background-color: #fff;
        border-radius: 6px;
    }

    &__img {
        width: 100%;
    }

    .articles__news {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        padding: 6px 30px;
        background-color: #a3bbc8;
        border-radius: 25px;
        position: relative;
        left: 30px;
        top: -17px;
    }

    .articles__desc {
        padding: 30px 30px 15px;
        font-size: 18px;
        border-bottom: 1px solid #e0e0e0;
        min-height: 140px;
        @extend %dmsans-400;
    }

    &__item-footer {
        padding: 20px 30px 24px;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        color: #222933;
    }
}

.partners {
    background-color: #fef7f0;

    &__inner {
        margin-top: -244px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
        padding: 340px 0 85px;
    }
}


@import 'media';