.narrow-partners {
    margin-top: 0;
    background-color: #fef7f0;

    &__inner {
        min-height: 250px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .narrow-partners__inner {
        flex-direction: column;
    }
}