<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/about.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        <section class="top">
            <h2 class="top__title">
                About Us
            </h2>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__dest" href="#">
                            About Us
                        </span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="experience">
            <div class="container">
                <div class="experience__inner">
                    <div class="experience__content">
                        <div class="experience__year">
                            <img class="experience__img" src="images/content/12.jpg" alt="experience">
                            <div class="experience__rows">
                                <span>Years</span>
                                <span>Experience</span>
                                <span>Working</span>
                            </div>
                        </div>
                        <h4 class="experience__title">
                            Mission of our creative house
                        </h4>
                        <p class="experience__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum
                        </p>


                        <div class="experience__nums">
                            <div class="experience__item" style="background-image: url('images/icons/projects.svg');">
                                <p class="experience__amount">520+</p>
                                <p class="experience__desc">Projects</p>
                            </div>
                            <div class="experience__item" style="background-image: url('images/icons/revenue.svg');">
                                <p class="experience__amount">$4M</p>
                                <p class="experience__desc">Revenue</p>
                            </div>
                            <div class="experience__item" style="background-image: url('images/icons/awards.svg');">
                                <p class="experience__amount">250</p>
                                <p class="experience__desc">Awards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="statistic">
                <div class="statistic__item">
                    <img class="statistic__img" src="images/icons/stat-1.svg" alt="statistic image">
                    <p class="statistic__num">99%</p>
                    <p class="statistic__text">Satisﬁed Clients Rate</p>
                </div>
                <div class="statistic__item">
                    <img class="statistic__img" src="images/icons/stat-2.svg" alt="statistic image">
                    <p class="statistic__num">5020+</p>
                    <p class="statistic__text">Products Delivered</p>
                </div>
                <div class="statistic__item">
                    <img class="statistic__img" src="images/icons/stat-3.svg" alt="statistic image">
                    <p class="statistic__num">23hr</p>
                    <p class="statistic__text">Daily Working Time</p>
                </div>
                <div class="statistic__item">
                    <img class="statistic__img" src="images/icons/stat-4.svg" alt="statistic image">
                    <p class="statistic__num">140+</p>
                    <p class="statistic__text">Brands in Store</p>
                </div>
            </div>
        </section>

        <section class="team">
            <div class="container">
                <div class="team__inner">
                    <div class="team__desc">
                        <h3 class="title team__title">
                            Our Team
                        </h3>
                        <p class="team__text">
                            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a class="team__link" href="#">
                            <span>Join With US</span>
                            <span>&rarr;</span>
                        </a>
                    </div>
                    <div class="team__albom">
                        <div class="team-item">
                            <img class="team-item__photo" src="images/content/team/photo-1.jpg" alt="members photo">
                            <div class="team-item__desc">
                                <div class="team-item__name">
                                    <h5 class="team-item__title">
                                        Eliza Elliot
                                    </h5>
                                    <p class="team-item__text">
                                        Commodo tempor
                                    </p>
                                </div>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/insta.svg" alt="social link">
                                </a>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/google.svg" alt="social link">
                                </a>
                            </div>
                        </div>
                        <div class="team-item">
                            <img class="team-item__photo" src="images/content/team/photo-2.jpg" alt="members photo">
                            <div class="team-item__desc">
                                <div class="team-item__name">
                                    <h5 class="team-item__title">
                                        Roscoe A.
                                    </h5>
                                    <p class="team-item__text">
                                        Commodo tempor
                                    </p>
                                </div>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/insta.svg" alt="social link">
                                </a>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/google.svg" alt="social link">
                                </a>
                            </div>
                        </div>
                        <div class="team-item">
                            <img class="team-item__photo" src="images/content/team/photo-3.jpg" alt="members photo">
                            <div class="team-item__desc">
                                <div class="team-item__name">
                                    <h5 class="team-item__title">
                                        Ruby M.
                                    </h5>
                                    <p class="team-item__text">
                                        Commodo tempor
                                    </p>
                                </div>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/insta.svg" alt="social link">
                                </a>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/google.svg" alt="social link">
                                </a>
                            </div>
                        </div>
                        <div class="team-item">
                            <img class="team-item__photo" src="images/content/team/photo-4.jpg" alt="members photo">
                            <div class="team-item__desc">
                                <div class="team-item__name">
                                    <h5 class="team-item__title">
                                        Marie F. Bloss
                                    </h5>
                                    <p class="team-item__text">
                                        Commodo tempor
                                    </p>
                                </div>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/insta.svg" alt="social link">
                                </a>
                                <a class="team-item__link" href="#">
                                    <img class="team-item__social" src="images/icons/google.svg" alt="social link">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    {% include 'app/module/_articles/_articles.html' %}
    
    {% include 'app/module/_partners/_partners.html' %}

    </main>

 {% include 'app/module/_footer/_footer.html' %}
<script src="js/main.min.js"></script>
</body>

</html>