<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
    
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        <section class="top">
            <h2 class="top__title">
                Blog
            </h2>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__dest" href="#">Blog</span>
                    </li>
                </ul>
            </div>
        </section>
        <div class="blog">
            <div class="container">
                <div class="blog__inner">
                    <div class="blog__content">
                        <div class="content-item">
                            <div class="content-item__box">
                                <a class="content-item__link" href="#">
                                    <img class="content-item__img" src="images/content/blog/post-1.jpg"
                                        alt="post image">
                                </a>
                                <div class="content-item__caption">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="content-item__title">
                                Fonsectetur adipisicing eiusmod
                            </h3>
                            <p class="content-item__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna
                            </p>
                            <a class="content-item__link-btn" href="#">
                                <span>View More</span>
                                <span>&rarr;</span>
                            </a>
                        </div>
                        <div class="content-item">
                            <div class="content-item__box">
                                <a class="content-item__link" href="#">
                                    <img class="content-item__img" src="images/content/blog/post-2.jpg"
                                        alt="post image">
                                </a>
                                <div class="content-item__caption">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="content-item__title">
                                Fonsectetur adipisicing elit
                            </h3>
                            <p class="content-item__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                            </p>
                            <a class="content-item__link-btn" href="#">
                                <span>View More</span>
                                <span>&rarr;</span>
                            </a>
                        </div>
                        <div class="content-item">
                            <div class="content-item__box">
                                <a class="content-item__link" href="#">
                                    <img class="content-item__img" src="images/content/blog/post-3.jpg"
                                        alt="post image">
                                </a>
                                <div class="content-item__caption">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="content-item__title">
                                Fsectetur adipisicing tempor incididunt
                            </h3>
                            <p class="content-item__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                            </p>
                            <a class="content-item__link-btn" href="#">
                                <span>View More</span>
                                <span>&rarr;</span>
                            </a>
                        </div>
                        <div class="content-item">
                            <div class="content-item__box">
                                <a class="content-item__link" href="#">
                                    <img class="content-item__img" src="images/content/blog/post-4.jpg"
                                        alt="post image">
                                </a>
                                <div class="content-item__caption">
                                    <span>28 JANUARY, 2020</span>
                                    <span>BY ADMIN</span>
                                </div>
                            </div>
                            <h3 class="content-item__title">
                                vonsectetur adipisicing elit
                            </h3>
                            <p class="content-item__text">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                            </p>
                            <a class="content-item__link-btn" href="#">
                                <span>View More</span>
                                <span>&rarr;</span>
                            </a>
                        </div>
                    </div>
                    <aside class="blog__aside">
                        <div class="filter-search">
                            <form class="filter-search__form" action="#">
                                <input class="filter-search__input" type="text">
                                <div class="filter-search__icon">
                                    <img src="images/icons/search.svg" alt="Search icon">
                                </div>
                            </form>
                        </div>
                        <div class="filter-category filter__item">
                            <h3 class="filter__title">
                                CATEGORY
                            </h3>
                            <form class="filter-category__form" action="#">
                                <label class="filter__label">
                                    <input class="filter__input" type="checkbox" checked>
                                    <div class="filter__checkbox">
                                        <span>Chair</span>
                                        <span>></span>
                                    </div>
                                </label>
                                <label class="filter__label">
                                    <input class="filter__input" type="checkbox">
                                    <div class="filter__checkbox">
                                        <span>Table</span>
                                        <span>></span>
                                    </div>
                                </label>
                                <label class="filter__label">
                                    <input class="filter__input" type="checkbox">
                                    <div class="filter__checkbox">
                                        <span>Lamp</span>
                                        <span>></span>
                                    </div>
                                </label>
                                <label class="filter__label">
                                    <input class="filter__input" type="checkbox">
                                    <div class="filter__checkbox">
                                        <span>Watch</span>
                                        <span>></span>
                                    </div>
                                </label>
                                <label class="filter__label">
                                    <input class="filter__input" type="checkbox">
                                    <div class="filter__checkbox">
                                        <span>Clock</span>
                                        <span>></span>
                                    </div>
                                </label>
                            </form>
                        </div>
                        <div class="recent-post">
                            <h3 class="filter__title">
                                RECENT PRODUCTS
                            </h3>
                            <div class="recent-post__box">
                                <div class="recent-post__item">
                                    <a class="recent-post__link" href="#">
                                        <img class="recent-post__img" src="images/content/blog/design-1.jpg"
                                            alt="image recent post">
                                    </a>
                                    <div class="recent-post__desc">
                                        <p class="recent-post__text">
                                            Corem ipsum dolor tetur adipisicing elit
                                        </p>
                                        <p class="recent-post__date">
                                            28 JANUARY, 2020
                                        </p>
                                    </div>
                                </div>
                                <div class="recent-post__item">
                                    <a class="recent-post__link" href="#">
                                        <img class="recent-post__img" src="images/content/blog/design-2.jpg"
                                            alt="image recent post">
                                    </a>
                                    <div class="recent-post__desc">
                                        <p class="recent-post__text">
                                            Fdipisicing elit, sed do eiusmod tempor
                                        </p>
                                        <p class="recent-post__date">
                                            28 JANUARY, 2020
                                        </p>
                                    </div>
                                </div>
                                <div class="recent-post__item">
                                    <a class="recent-post__link" href="#">
                                        <img class="recent-post__img" src="images/content/blog/design-3.jpg"
                                            alt="image recent post">
                                    </a>
                                    <div class="recent-post__desc">
                                        <p class="recent-post__text">
                                            Eonsectetur adipisicing elit, sed do eiusmod
                                        </p>
                                        <p class="recent-post__date">
                                            28 JANUARY, 2020
                                        </p>
                                    </div>
                                </div>
                                <div class="recent-post__item">
                                    <a class="recent-post__link" href="#">
                                        <img class="recent-post__img" src="images/content/blog/design-4.jpg"
                                            alt="image recent post">
                                    </a>
                                    <div class="recent-post__desc">
                                        <p class="recent-post__text">
                                            gnim ad minim veniam, quis nostrud
                                        </p>
                                        <p class="recent-post__date">
                                            28 JANUARY, 2020
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="pagination blog__pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--active" href="#">1</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>

    {% include 'app/module/_narrow-partners/_narrow-partners.html' %}

    {% include 'app/module/_footer/_footer.html' %}

</body>

</html>